 <script type="text/x-handlebars">
    <h2>Welcome to Ember.js</h2>

    {{outlet}}
  </script>

  <script type="text/x-handlebars" id="index">
    <ul>
    {{#each alert in model}}
      <li>
        <div>
          {{alert.user.displayName}}
          <a {{bind-attr href=issue.self}}>{{alert.issue.fields.summary}}</a>
        </div>
      </li>
    {{/each}}
    </ul>
  </script>