<!-- Default home page -->
<link type="text/css" href='http://sailsjs.org/styles/fonts.css' rel='stylesheet'/>
<h1> Welcome and lets get alerted</h1>

<div ng-app="jiramvc">
    <ng-view />
    <script type="text/ng-template" id="jiramvc-index.html">
        <div> hmmmmmm homie</div>
        {{welcome}}
    </script>
</div>
